.root {
  display: flex;
  height: 100%;
  position: relative;
}

.main {
  flex: 1 1 100%;
  height: 100%;
  overflow: auto;
}

.side {
  flex: 0 0 100%;
  max-width: 400px;
  line-height: 1.3;
  height: 100%;
  overflow: auto;
}

@media only screen and (max-width: 1050px) {
  .side {
    position: absolute;
    z-index: 2;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--bg-color);
    max-width: 100%;
    height: unset;
    border-radius: 8px;
  }

  .backdrop {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
  }
}
