.button {
  all: unset;

  background: var(--slate5); /* restore to this */

  color: var(--text-color);

  border-radius: 3px; /* restore to this */

  white-space: nowrap;
  font-size: 13px;
  padding: 6px 8px;
  transition: background-color ease-in-out 50ms;
  cursor: pointer;
  font-weight: 500;
  font-family: inherit;
  text-decoration: none;
  line-height: 1;
  display: inline-block;
}

.iconButton {
  padding-left: 4px;
  padding-right: 4px;
}

.button:hover {
  background: var(--slate8);
  transition: background ease-in-out 0;
}

.button:active {
  background: var(--slate7);
  transition: background ease-in-out 0;
}

.button:focus-visible {
  outline: 3px solid var(--slate11);
  outline-offset: 1px;
}

.icon {
  margin-right: 0.4ch;
  margin-left: 0.4ch;
}

.toggleButton {
  composes: button;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0;
  color: hsla(210, 6%, 93%, 85%);
  padding: 4px 6px;
}

.toggleButton:first-of-type {
  border-radius: 2px 0 0 2px;
}

.toggleButton:last-of-type {
  border-radius: 0 2px 2px 0;
}

.selected {
  background: rgba(255, 255, 255, 0.22);
  color: white;
}

.buttonGroupRoot {
  display: inline;
}

.buttonGroupRoot > .button:not(:first-of-type) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 1px solid var(--slate2);
}

.buttonGroupRoot > .button:not(:last-of-type) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
