.line {
  display: flex;
}

.accessory {
  flex: 0 1 auto;
}

.caption {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dialogueCell {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.narrator {
  opacity: 0.75;
}
