.modalOverlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0px;
  backdrop-filter: blur(1px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  border-radius: 6px;
  background-color: var(--bg-color);
  padding: 24px;
  width: 90vw;
  max-height: 90vh;
  max-width: 700px;

  font-size: 16px;
  line-height: 1.5;
  overflow: auto;
}

.modalTitle {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.desc a {
  color: inherit;
}

.closeButton {
  position: relative;
  z-index: 2;
  background: none;
  appearance: none;
  border: none;
  color: inherit;
  font-size: 21px;
  opacity: 1;
  transition: all 200ms ease-in-out;
  padding: 0;
  padding: 6px 8px;
  /* margin: -6px -8px; */
  border-radius: 3px;
  line-height: 1;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.08);
}

.closeButton:hover {
  opacity: 1;
  transition: all 50ms ease-in-out;
  background: rgba(255, 255, 255, 0.15);
}

.closeButton:active {
  opacity: 1;
  background: rgba(255, 255, 255, 0.05);
  transition: all 50ms ease-in-out;
}

.stopIcon {
  padding-right: 1ch;
  vertical-align: middle;
}

.altDesc {
  composes: desc;
  opacity: 0.85;
  font-size: 0.95em;
}
