.stickyHeader {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 6px;
  line-height: 1;
}

.headerInner {
  padding: 8px 16px;
  background: var(--bg-color-alt-alpha);
  color: hsl(210 6% 99%);
  border: 1px solid var(--border-color);
  backdrop-filter: blur(var(--blur));
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  display: flex;
  align-items: center;
}

.specificTable {
  opacity: 0.85;
  padding-right: 16px;
  border-right: 1px solid grey;
  display: flex;
  align-items: center;
}

.chevron {
  display: inline-block;
  margin: 0 8px;
  font-size: 0.85em;
}

.title {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
}

.title:hover {
  text-decoration: underline;
}

.narratorSelect {
  color: rgba(255, 255, 255, 0.95);
  min-width: 140px;
  height: 24px;
  background-color: hsla(0, 2%, 20%, 0.95);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px;
  border-radius: 4px;
  border: none;
  margin-left: 1ch;
  font-family: inherit;
}

.narratorSelect option {
  color: black;
  background-color: white;
  font-family: inherit;
}

.extraItems {
  display: flex;
  align-items: center;
  gap: 16px;
}

.searchBox {
  background-color: hsla(0, 2%, 20%, 0.95);
  border-radius: 4px;
  padding: 0px 6px;
  font-size: 12px;
  line-height: 1;
  height: 24px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px;
  transition: all 150ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.75);
}

.searchInput {
  all: unset;
  margin-left: 8px;
  font-family: inherit;
  color: rgba(255, 255, 255, 0.95);
  font-size: 14px;
  width: 180px;
}

.searchBox:focus-within {
  background-color: rgba(255, 255, 255, 0.17);
  box-shadow: rgba(255, 255, 255, 0.33) 0px 0px 0px 1px;
}

.aboutButton {
  all: unset;
  opacity: 0.85;
  cursor: pointer;

  position: relative;
  z-index: 2;
  background: none;
  appearance: none;
  border: none;
  color: inherit;
  transition: all 200ms ease-in-out;
  padding: 6px 8px;
  margin-left: 8px;
  /* margin: -6px -8px; */
  border-radius: 3px;
  line-height: 1;
  cursor: pointer;
}

.aboutButton:hover {
  opacity: 1;
  transition: all 50ms ease-in-out;
  background: rgba(255, 255, 255, 0.15);
}

.aboutButton:active {
  opacity: 1;
  background: rgba(255, 255, 255, 0.05);
  transition: all 50ms ease-in-out;
}

.subtitle {
  grid-area: subtitle;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 900px) {
  .extraItems {
    display: none;
  }

  .stickyHeader {
    padding: 8px;
  }

  .main {
    display: grid;
    /* grid-template-columns: 1fr min-content; */
    /* grid-template-rows: auto auto; */
    grid-template-areas:
      "title accessory"
      "subtitle accessory";
    width: 100%;
    gap: 6px;
  }

  .title {
    grid-area: title;
  }

  .subtitle {
    grid-area: subtitle;
  }

  .specificTable {
    margin-right: 16px;
  }

  .chevron:first-of-type {
    margin-left: 0px;
  }

  .aboutButton {
    margin: -6px 0;
    margin-left: -8px;
  }
}

@media only screen and (max-width: 1220px) {
  .hideMedium {
    display: none;
  }

  .searchInput {
    width: 150px;
  }
}
