.table {
  width: 100%;
  --row-radius: 2px;
}

.expand {
  width: 99%;
}

.shrink {
  width: 1%;
}

.table td {
  padding: 2px 8px;
}

.header {
  position: sticky;
  top: 0;
  background: hsl(240, 4.3%, 9%);
  z-index: 2;
}

.header td {
  padding-top: 16px;
  opacity: 0.5;
}

.table tbody tr td {
  transition: background 50ms ease-in-out;
}

.table tbody tr td:first-of-type {
  border-radius: var(--row-radius) 0 0 var(--row-radius);
}

.table tbody tr td:last-of-type {
  border-radius: 0 var(--row-radius) var(--row-radius) 0;
}

.table tbody tr:nth-child(2n + 1) td {
  background: hsla(240, 4.3%, 50%, 6%);
}

.table tbody tr:hover td {
  background: hsla(240, 4.3%, 50%, 8%);
  transition: background 0ms ease-in-out;
}

.table tr .actionButton {
  opacity: 0;
  transition: opacity ease-in-out 25ms;
}

.table tr:hover .actionButton {
  opacity: 1;
  transition: opacity ease-in-out 0ms;
}
