.faint {
  color: #949495;
}

.selectBoundry {
  user-select: none;
}

.row {
  height: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 10ms ease-in-out;
  border-radius: 2px;
  padding-right: 16px;
  padding-left: 8px;
  background-color: hsl(240, 2%, 9%);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.alternateRow {
  background: none;
}

.row:not(.stickyHeader):hover {
  background-color: hsl(20, 1%, 13%);
  transition: background 0ms ease-in-out;
}

.rowMain {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.narrator {
  color: #b7b7b7;
}

.scrollerThumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 100px;
  width: 8px !important;
}

.scrollerRoot:hover .scrollerThumb {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 100px;
}

.scrollerTrack {
  right: 4px;
  bottom: 2px;
  top: 2px;
  border-radius: 3px;
  z-index: 20;
}

.scrollerRoot:hover .scrollerTrack {
  opacity: 1 !important;
}

.bank {
  font-weight: 500;
}
