* {
  box-sizing: border-box;
}

html {
  --bg-color: hsl(255, 3.7%, 7%);

  font-family: "Inter", sans-serif;
  font-size: 14px;
  background: var(--bg-color);
  color: hsl(210 6% 93%);
  line-height: 1.588;
  font-weight: 400;

  --fa-inverse: hsl(240, 4.3%, 9%);
  --fa-animation-duration: 2.5s;
}

#root,
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.inactiveLine {
  opacity: 0.65;
}

.activeLine {
  color: hsl(210 6% 99%);
}

.playbackLine {
  margin: 33px 0;
  transition: 50ms color ease-in-out;
}

.Narrator {
  font-size: 14px;
  font-weight: 500;

  opacity: 0.7;
  margin: 0;
  margin-bottom: 4px;
}

.Caption {
  font-size: 24.88px;
  font-weight: 600;

  margin: 0;
}

.conversation {
  padding: 8px 0;
  margin: 8px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

/* .conversation-nodes,
.children {
  margin-left: 16px;
}

.children {
  margin-left: 35px;
  margin-top: 8px;
} */

.dialogueTable,
.collection,
.sequence {
  margin-left: 25px;
}

thead,
tbody,
table,
tr,
td {
  padding: 0;
  border: 0;
  border-collapse: collapse;
  vertical-align: top;
}

td + td {
  padding-left: 8px;
}

.narratorCell {
  white-space: nowrap;
}

.Indent {
  display: inline-block;
}

.toggleButton {
  appearance: none;
  border: none;
  background: none;
  border-radius: 50px;
  /* border-radius: 2px; */
  height: 18px;
  width: 18px;
  font-size: 12px;
  line-height: 1;
  transition: background 50ms ease-in-out;
  color: white;
  cursor: pointer;
}

.toggleButtonSpacer {
  width: 25px;
  display: inline-block;
}

.toggleButton:hover {
  background: rgba(255, 255, 255, 0.15);
  transition: background 0ms ease-in-out;
}

.v-align {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  /* display: contents; */
}

.Space {
  width: 0.8ch;
  display: inline-block;
}

.actionButton {
  appearance: none;
  color: inherit;
  /* border: 1px solid hsla(210, 6%, 93%, 65%); */
  background: rgba(255, 255, 255, 0.08);
  border: none;
  color: hsla(210, 6%, 93%, 90%);
  /* background: none; */
  white-space: nowrap;
  font-size: 13px;
  border-radius: 2px;
  padding: 2px 6px;
  transition: background ease-in-out 50ms;
  cursor: pointer;
  font-weight: 500;
  font-family: inherit;
}

.actionButton:hover {
  background: rgba(255, 255, 255, 0.15);
  transition: background ease-in-out 0;
}

.dialogue-column {
  width: 100%;
}
